@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal 900;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal 900;
  font-style: normal;
}

%centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  @extend %centered;
  min-height: 100vh;
  background-color: #18171f;
}

.app {
  max-width: 540px;
  &__title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #817d92;
  }
  &__output {
    background-color: #24232c;
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
  }
  &__output-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 16px;
  }
  &__password {
    padding: 19px 32px;
    font-weight: 700;
    font-size: 32px;
    opacity: 0.25;
    color: #e6e5ea;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }
  &__copy {
    background-color: #24232c;
    border: none;
    padding: 26px 33px 26px 0;
    img {
      width: 21px;
      height: 24px;
      cursor: pointer;
      &:hover {
        filter: brightness(0) invert(1);
      }
    }
  }
  &__copied {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #a4ffaf;
    white-space: nowrap;
  }
  &__controls {
    height: 528px;
    margin-top: 24px;
    padding: 24px 32px 32px 32px;
    background-color: #24232c;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__length-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__length-label {
    color: #e6e5ea;
    font-weight: 700;
    font-size: 18px;
  }
  &__length-value {
    font-weight: 700;
    font-size: 32px;
    color: #a4ffaf;
  }
  &__length-slider {
    margin-top: 32px;
    width: 100%;
    appearance: none;
    height: 8px;
    background: #18171f;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    &::-webkit-slider-thumb {
      appearance: none;
      width: 28px;
      height: 28px;
      background: #e6e5ea;
      border-radius: 100%;
    }
    &:active::-webkit-slider-thumb {
      background: #18171f;
      border: 2px solid #a4ffaf;
    }
  }
  &__options {
    border: none;
    padding: 0;
    margin: 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  &__item {
    color: #e6e5ea;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    gap: 24px;
  }
  &__checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #e6e5ea;
    &:hover {
      border-color: #a4ffaf;
      cursor: pointer;
    }
    &:checked {
      background-color: #a4ffaf;
      border-color: #a4ffaf;
      position: relative;
      &::after {
        content: url("../assets/images/icon-check.svg");
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__strength {
    background-color: #18171f;
    padding: 23px 32px 21px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__strength-label {
    color: #817d92;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
  }
  &__strength-right {
    display: flex;
    align-items: center;
    gap: 15.5px;
  }
  &__strength-value {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #e6e5ea;
  }
  &__strength-bars .filled-too-weak {
    background-color: #f64a4a;
    border: none;
  }
  &__strength-bars .filled-weak {
    background-color: #fb7c58;
    border: none;
  }
  &__strength-bars .filled-medium {
    background-color: #f8cd65;
    border: none;
  }
  &__strength-bars .filled-strong {
    background-color: #a4ffaf;
    border: none;
  }
  &__bar {
    width: 10px;
    height: 28px;
    background-color: transparent;
    border: 2px solid #e6e5ea;
    display: inline-block;
  }
  &__generate {
    padding: 21px 177px;
    background-color: #a4ffaf;
    display: flex;
    gap: 24px;
    align-items: center;
    border: 2px solid transparent;
    cursor: pointer;
    &:hover {
      background-color: transparent;
      border: 2px solid #a4ffaf;
    }
  }
  &__generate-text {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #24232c;
    text-transform: uppercase;
  }
  &__generate-image {
    width: 12px;
    height: 12px;
    object-fit: contain;
  }
  &__generate:hover .app__generate-text {
    color: #a4ffaf;
  }
  &__generate:hover .app__generate-image {
    filter: invert(0.5) sepia(0.5) hue-rotate(90deg) saturate(3) brightness(1.4);
  }
}

@media (max-width: 560px) {
  .app {
    max-width: 500px;
    &__generate {
      padding-inline: 160px;
    }
    &__password {
      font-size: 26px;
    }
  }
}

@media (max-width: 510px) {
  .app {
    max-width: 450px;
    &__generate {
      padding-inline: 130px;
    }
  }
}

@media (max-width: 460px) {
  body {
    align-items: start;
  }
  .app {
    padding-top: 64px;
    max-width: 343px;
    &__output {
      margin-top: 16px;
    }
    &__title {
      font-size: 16px;
    }
    &__password {
      font-size: 20px;
      padding: 16px;
    }
    &__copy {
      padding: 22px 16px 22px 0;
      img {
        width: 17.5px;
        height: 20px;
      }
    }
    &__controls {
      margin-top: 16px;
      gap: 16px;
      padding: 16px;
      height: 430px;
    }
    &__length-label {
      font-size: 16px;
    }
    &__length-value {
      font-size: 24px;
    }
    &__length-slider {
      margin-top: 18px;
      margin-bottom: 32px;
    }
    &__list {
      gap: 16px;
    }
    &__item {
      font-size: 16px;
      gap: 20px;
    }
    &__strength {
      padding: 14px 16px;
      margin-top: 16px;
    }
    &__strength-label {
      font-size: 16px;
    }
    &__strength-value {
      font-size: 18px;
    }
    &__strength-bars {
      display: flex;
      gap: 8px;
    }
    &__generate {
      padding-inline: 103px;
      padding-block: 18px;
      gap: 16px;
    }
    &__generate-text {
      font-size: 16px;
    }
  }
}
